<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <title>Todo List</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>
</head>

<body class="{% block body_classes %}container-fluid d-flex flex-column flex-grow h-100 px-0{% endblock body_classes %}">

<div id="skip-link">
  <a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>
</div>

<a id="top"></a>

<header class="container-fluid p-0">
  {% block header %}
    {% block nav_bar %}
      <nav class="navbar navbar-expand-lg navbar-light reg-nav-bar py-0 page-content">
        <button class="navbar-toggler align-self-center my-2" type="button" data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav align-self-end">
            {% block main_nav_bar_items %}
              <li class="nav-item reg-nav-item px-3 px-lg-1 py-0">
                {% url 'todo:home' as todo_home_url %}
                <a class="nav-link text-uppercase text-dark {% if request.path_info == todo_home_url %}active{% endif %}"
                   href="{% url 'todo:home' %}">
                  Todo Home Page
                  {% if request.path_info == todo_home_url %}
                    <span class="sr-only">(current)</span>
                  {% endif %}
                </a>
              </li>
              <li class="nav-item reg-nav-item px-3 px-lg-1 py-0">
                {% url 'todo:list_and_filter_todo_lists' as todo_lists_listing_url %}
                <a class="nav-link text-uppercase text-dark {% if request.path_info == todo_lists_listing_url %}active{% endif %}"
                   href="{{ todo_lists_listing_url }}">
                  Todo Lists Listing Page
                  {% if request.path_info == todo_lists_listing_url %}
                    <span class="sr-only">(current)</span>
                  {% endif %}
                </a>
              </li>
            {% endblock main_nav_bar_items %}
          </ul>
        </div>
      </nav>
    {% endblock nav_bar %}

    <div class="row m-0">
      <div class="col page-content">
        <h1 id="head" class="mb-3">{% block page_header %}Todo List{% endblock page_header %}</h1>
      </div>
    </div>
  {% endblock header %}
</header>

<main id="content" class="{% block main_classes %}container-fluid flex-grow p-2{% endblock main_classes %}" role="main">
  {% include 'common/messages_with_dismissability.html' %}

  {% block content %}
  {% endblock content %}
</main>

<footer class="container-fluid bg-light pt-5 border-top">
  {% block footer %}
  {% endblock footer %}
</footer>

{% block end_of_body_js %}
{% endblock end_of_body_js %}

</body>
</html>
