{% extends 'common/base.html' %}

{% load static %}

{% block page_header %}{{ todo_list.name }}{% endblock page_header %}

{% block content %}
  <section id="id-list-info">
    <h2>List Info</h2>
    <dl>
      <dt>Created:</dt>
      <dd>{{ todo_list.created }}</dd>

      <dt>Last Updated:</dt>
      <dd>{{ todo_list.last_updated }}</dd>
    </dl>

    <a href="{% url 'todo:update_todo_list' pk=todo_list.id %}" title="go to page to update todo list"
       class="btn btn-primary mb-1 mr-sm-1">
      Update Todo List
    </a>
    <a href="{% url 'todo:delete_todo_list' pk=todo_list.id %}" title="go to page to delete todo list"
       class="btn btn-secondary mb-1 mr-sm-1">
      Delete Todo List
    </a>
  </section>
  <section id="id-list-items">
    <h2>List Items</h2>
    <div id="app">
      <p v-if="errors.length">
        <b>Please correct the following error(s)</b>
      <div v-for="error in errors">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          [[ error ]]

          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      </p>
      <p v-if="todoItems===null || todoItems.length===0">This list has no items.</p>
      <div class="form-row d-flex mb-3" :class="item.pk"
           v-for="item in todoItems" :key="item.pk">
        <div class="form-group col-auto">
          <label :for=`id-todo-item-text-${item.pk}` class="sr-only">Todo text:</label>

          <input type="text" :id=`id-todo-item-text-${item.pk}` name="text"
                 class="form-control" :placeholder=`${item.text}`
                 v-model="item.text">
        </div>
        <div class="form-group pl-3 pr-2 pt-1">
          <div class="custom-control custom-checkbox custom-control-inline">
            <input :id=`id-todo-item-completed-${item.pk}` type="checkbox"
                   class="custom-control-input todo-item-completed"
                   name="completed"
                   v-model="item.completed"
                   @change="updateCompletion(item)">
            <label :for=`id-todo-item-completed-${item.pk}`
                   class="custom-control-label">Completed?</label>
          </div>
        </div>
        <i class="fa fa-trash pt-2" @click="deleteItem(item)"></i>
      </div>
      <div class="form-row d-flex mb-3">
        <div class="form-group col-auto">
          <label for="id-new-todo-item-text" class="sr-only">Todo text:</label>
          <input type="text" id="id-new-todo-item-text" name="text"
                 class="form-control" placeholder="new todo item text"
                 v-model="newItem.text">
        </div>
        <div class="form-group pl-3 pr-2 pt-1">
          <div class="custom-control custom-checkbox custom-control-inline">
            <input id='id-new-todo-item-completed' type="checkbox"
                   class="custom-control-input todo-item-completed"
                   name="completed"
                   v-model="newItem.completed">
            <label for="id-new-todo-item-completed"
                   class="custom-control-label">Completed?</label>
          </div>
        </div>
        <i class="fa fa-save pt-2" @click="addItem()"></i>
      </div>
    </div>
  </section>
{% endblock content %}

{% block end_of_body_js %}
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script>
    const todoListPk = "{{ todo_list.pk }}";
    const todoItemListApiUrl = "{% url 'todo:items:todoitemmodel-list' %}";
  </script>
  <script src="{% static 'todo/js/manage_items.js' %}"></script>
{% endblock end_of_body_js %}
