{% extends 'common/base.html' %}

{% block page_header %}{{ todo_list.name }}{% endblock page_header %}

{% block content %}
  <section id="id-list-info">
    <h2>List Info</h2>
    <dl>
      <dt>Created:</dt>
      <dd>{{ todo_list.created }}</dd>

      <dt>Last Updated:</dt>
      <dd>{{ todo_list.last_updated }}</dd>
    </dl>

    <a href="{% url 'todo:update_todo_list' pk=todo_list.id %}" title="go to page to update todo list"
       class="btn btn-primary mb-1 mr-sm-1">
      Update Todo List
    </a>
    <a href="{% url 'todo:delete_todo_list' pk=todo_list.id %}" title="go to page to delete todo list"
       class="btn btn-secondary mb-1 mr-sm-1">
      Delete Todo List
    </a>
  </section>
  <section id="id-list-items">
    <h2>List Items</h2>

    {% if todo_list.todoitemmodel_set.all %}
      <ul>
        {% for todo_item in todo_list.todoitemmodel_set.all %}
          <li>{{ todo_item.text }}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>
        This list has no items.
      </p>
    {% endif %}
  </section>
{% endblock content %}
