{% extends 'common/base.html' %}

{% block page_header %}
  Todo Lists
{% endblock page_header %}

{% block content %}
  {% if object_list %}
    <table class="table table-hover mb-0">
      <caption class="sr-only">List of Todo Lists</caption>
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Created</th>
        <th scope="col">Last Updated</th>
      </tr>
      </thead>
      <tbody>
      {% for todo_list in object_list %}
        <tr>
          <td>
            <a href="{% url 'todo:display_todo_list' pk=todo_list.id %}" title="todo list details">
              {{ todo_list.name }}
            </a>
          </td>
          <td>{{ todo_list.created }}</td>
          <td>{{ todo_list.last_updated }}</td>
        </tr>
      {% endfor class_info %}
      </tbody>
    </table>
  {% else %}
    <p>
      {% if view.kwargs.name_search %}
        No todo lists were found with input name: {{ view.kwargs.name_search }}.
      {% else %}
        No todo lists were found.
      {% endif %}
    </p>
  {% endif %}  {# if object_list #}
{% endblock content %}
